<a href="https://colab.research.google.com/github/mamon13303041/Lego-Analysis/blob/main/Lego_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Overview of the project**
Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.

It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in this article, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.

Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:


**datasets/lego_sets.csv**

set_num: A code that is unique to each set in the dataset. This column is critical, and a missing value indicates the set is a duplicate or invalid!
set_name: A name for every set in the dataset (note that this can be the same for different sets).
year: The date the set was released.
num_parts: The number of parts contained in the set. This column is not central to our analyses, so missing values are acceptable.
theme_name: The name of the sub-theme of the set.
parent_theme: The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.


**datasets/parent_themes.csv**

id: A code that is unique to every theme.
name: The name of the parent theme.
is_licensed: A Boolean column specifying whether the theme is a licensed theme.

From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!

Note: If you haven't completed a DataCamp project before you should check out the Intro to Projects first to learn about the interface. In this project, you also need to know your way around pandas DataFrames and it's recommended that you take a look at the course Data Manipulation with pandas.

In [2]:
import pandas as pd

In [ ]:
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')
parent_theme.to_csv("parent_them.csv")
parent_theme.head()

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')

df.to_csv('logo.csv')
df.head()

In [ ]:
merge=df.merge(parent_theme,left_on="parent_theme", right_on="name")
merge.drop(columns='name_y', inplace=True)
merge.head(50)

Drop NaN value is set_name column

In [ ]:
from pandas.io.formats.style import Subset
merge[merge['set_num'].isnull()].shape
merge.dropna(subset=['set_num'])

 Task #1: What percentage of all licensed sets ever released were Star Wars Themed?
Percentage sould me integer

In [11]:
licesed_df=merge[merge['is_licensed']]
licesed_df=licesed_df.dropna(subset=['set_num'])
licesed_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [8]:
Star_Wars_Themed=licesed_df[licesed_df['theme_name']=='Star Wars']
percent_tage=int(Star_Wars_Themed.shape[0]/licesed_df.shape[0]*100)
percent_tage

8

Task #2: In which year was Star Wars not the most popular licensed theme?

In [10]:
sort_licensed_stwar=Star_Wars_Themed.sort_values('year')
sort_licensed_stwar['Count Year']=1

sm_df=sort_licensed_stwar.groupby(['year','theme_name']).sum()
sm_df.sort_values(by='year',ascending=False).drop_duplicates()

                 num_parts    id  is_licensed  Count Year
year theme_name
2017 Star Wars      3072.0  2370           15          15
2016 Star Wars       358.0  2054           13          13
2015 Star Wars      6890.0  3476           22          22
2014 Star Wars      1600.0  3318           21          21
2013 Star Wars       202.0   948            6           6
2012 Star Wars       546.0  1580           10          10
2011 Star Wars         3.0   474            3           3
2010 Star Wars         0.0   158            1           1
2009 Star Wars         7.0   158            1           1
2003 Star Wars       680.0   158            1           1
2002 Star Wars       379.0   790            5           5
2001 Star Wars      2208.0   474            3           3
2000 Star Wars       336.0   474            3           3

How many unique sets were released each year (1955-2017)

In [27]:
clean_set_df=merge[merge['set_num'].isnull()]
clean_set_df['count'] = 1
set_each_year=clean_set_df.groupby(['year']).sum().reset_index()[['year','count']]

for index, row in set_each_year.iterrows():
  print(row['year'],row['count'])

2001 3
2002 9
2003 3
2004 9
2005 2
2006 3
2007 2
2008 2
2010 4
2011 2
2012 10
2013 15
2014 17
2015 10
2016 26
2017 36

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy